OL_DATA_DUMP_PATH="/Users/will/Data/open-library/ol_dump_2024-02-29/ol_dump_2024-02-29.txt.gz"
OL_DATA_DUMP_RATINGS_PATH="/Users/will/Data/open-library/ol_dump_2024-02-29/ol_dump_ratings_2024-02-29.txt.gz"
OL_DATA_DUMP_READING_LOG_PATH="/Users/will/Data/open-library/ol_dump_2024-02-29/ol_dump_reading-log_2024-02-29.txt.gz"
DATA_OUT_DIR = "/Users/will/Data/open-library/processed/"

POSTGRES_CONN_URL="postgresql://user:password@localhost:5432/ur_supabase_db"
